---
import { getCollection } from "astro:content";

import Card from "@components/Card.astro";
import StarShape from "@components/StarShape.astro";
import Layout from "@layouts/Layout.astro";

const labsEntries = await getCollection("labs").then((collection) =>
  collection.sort((a, b) => {
    const dateA = new Date(a.data.date);
    const dateB = new Date(b.data.date);
    return dateB.getTime() - dateA.getTime();
  })
);
---

<Layout title="baptistejouin | my labs" page="labs">
  <main class="row">
    <div class="wrapper">
      <h1 transition:name="title">my labs</h1>
      {
        labsEntries.map((lab) => (
          <Card
            to={`/lab/${lab.slug}`}
            id={lab.slug}
            category={lab.data.category}
            title={lab.data.title}
            thumbnail={lab.data.thumbnail}
          />
        ))
      }
    </div>
  </main>
  <StarShape offsetY={200} scale={0.6} side="left" />
</Layout>

<style lang="scss">
  @use "../lib/scss/variables" as v;
  @use "../lib/scss/mixins" as m;

  h1 {
    font-size: 3.5rem;
    font-family: v.$ff-jetbrains;
    margin: 5rem 0 3.5rem 0;
  }
  main {
    min-height: 80vh;
  }
</style>
