---
import { getCollection } from "astro:content";
import { categories } from "src/content/config";

import Card from "@components/Card.astro";
import StarShape from "@components/StarShape.astro";
import Layout from "@layouts/Layout.astro";

const worksEntries = await getCollection("works");
---

<Layout title="baptistejouin | my work." page="works">
  <main class="row">
    <h1>/works</h1>
    <div class="filter">
      <button class="active" data-category="0">all</button>
      {
        categories.map((category) => (
          <button data-category={category}>{category}</button>
        ))
      }
    </div>

    {
      worksEntries.map((work) => (
        <Card
          to={`/work/${work.slug}`}
          category={work.data.category}
          title={work.data.title}
          thumbnail={work.data.thumbnail}
        />
      ))
    }
    <p class="empty hidden">There is no work for this category. :(</p>
  </main>
  <StarShape offsetY={200} scale={0.6} side="left" />
</Layout>

<style lang="scss">
  @use "../lib/scss/variables" as v;
  @use "../lib/scss/mixins" as m;

  h1 {
    font-family: v.$ff-jetbrains;
  }
  main {
    min-height: 80vh;
  }
  .filter {
    grid-column: span v.$number-grid-columns;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.25rem 0.5rem;
    margin-bottom: 3.5rem;

    button {
      color: v.$c-black;
      font-size: 1.5rem;
      font-family: v.$ff-jetbrains;

      @include m.before(lg) {
        font-size: 1.25rem;
      }

      &.active {
        text-decoration: underline;
      }
    }
  }
  .empty {
    grid-column: span v.$number-grid-columns;
    text-align: center;
    font-size: 1.25rem;
    font-family: v.$ff-jetbrains;
    opacity: 0.5;
  }

  :global(.hidden) {
    display: none;
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const filters = document.querySelectorAll("div.filter button");
    const cards = document.querySelectorAll(
      "main > a"
    ) as NodeListOf<HTMLElement>;

    filters.forEach((filter: HTMLButtonElement) => {
      filter.addEventListener("click", () => {
        filters.forEach((filter) => filter.classList.remove("active"));
        filter.classList.add("active");

        const category = filter?.dataset.category;

        cards.forEach((card) => {
          if (category === "0") {
            card.classList.remove("hidden");
          } else if (card?.dataset?.category !== category) {
            card.classList.add("hidden");
          } else {
            card.classList.remove("hidden");
          }
        });

        if (!document.querySelector("main > a:not(.hidden)")) {
          document.querySelector("p.empty").classList.remove("hidden");
        } else {
          document.querySelector("p.empty").classList.add("hidden");
        }
      });
    });
  });
</script>
