---
import { ViewTransitions } from "astro:transitions";

import "@lib/scss/utils/minireset.min.css";
import "@lib/scss/utils/base.scss";
import "@lib/scss/utils/fonts.scss";

import Footer from "@components/Footer.astro";
import Nav from "@components/Nav.astro";
import StarShape from "@components/StarShape.astro";

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={frontmatter.description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta name="generator" content={Astro.generator} />
    <title>baptistejouin | {`${frontmatter.title}.`}</title>
    <ViewTransitions />
  </head>
  <body>
    <header>
      <Nav currentPage={frontmatter.title} />
    </header>
    <div class="work">
      <main class="row">
        <h1 class="title">{frontmatter.url}</h1>
        <p class="keywords">
          {frontmatter.keywords.map((item) => <span>*{item}</span>)}
        </p>
        <slot />
      </main>
    </div>
    <Footer />
    <StarShape side="left" />

    <style lang="scss" is:global>
      @use "@lib/scss/variables" as v;
      @use "@lib/scss/mixins" as m;

      .work {
        a {
          text-decoration: underline wavy;
          text-decoration-thickness: 0.1rem;
          text-decoration-skip-ink: none;
          color: v.$c-accent;

          &hover {
          }
        }

        h1 {
          grid-column: span v.$number-grid-columns;
        }

        h2,
        pre,
        iframe,
        h3,
        p,
        ul,
        ol,
        div {
          grid-column: 2 / span v.$number-grid-columns - 2;

          @include m.before(md) {
            grid-column: span v.$number-grid-columns;
          }
        }

        h1,
        h2,
        h3 {
          font-family: v.$ff-jetbrains;
          font-weight: 700;
        }

        .keywords {
          grid-column: span v.$number-grid-columns;
          font-family: v.$ff-jetbrains;
          display: flex;
          flex-wrap: wrap;
          gap: 1rem;
          margin-bottom: 3.5rem;

          span {
            color: v.$c-accent;
            font-size: 1.25rem;
          }
        }
        iframe {
          width: 100%;
          aspect-ratio: 16 / 9;
        }

        h2 {
          font-size: 3rem;

          @include m.before(lg) {
            font-size: 2.25rem;
          }
          @include m.before(md) {
            font-size: 1.75rem;
          }
        }

        p,
        li {
          font-size: 1.6rem;
          margin-bottom: 1.5rem;
          // grid-column: 2 / span v.$number-grid-column;

          @include m.before(lg) {
            font-size: 1.75em;
          }

          @include m.before(md) {
            font-size: 1.5rem;
          }
        }

        img {
          width: auto;
          height: 100%;
          max-height: 50vh;
          // object-fit: cover;
        }
        .img-grid {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
          grid-auto-rows: min-content;

          gap: 1rem;
          margin-bottom: 3.5rem;

          p {
            grid-column: span 1;
            margin-bottom: 0;
          }
          img {
            width: 100%;
            object-fit: cover;
            height: auto;
          }
        }
      }
    </style>

    <script lang="ts">
      import { setup } from "@services/prefersColorScheme";

      setup();
      document.addEventListener("astro:after-swap", () => {
        setup();
      });
    </script>
  </body>
</html>
